<div class="message mb-2">
  <div class="content-container">
    <div class="content">
      <strong><%= message.content %></strong>
    </div>
    <div class="author">
      <p><%= message.user.name %></p>
    </div>
  </div>
</div>  