<% provide :head_tags do %>
    <meta name='turbolinks-visit-control' content='reload'>
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        initMap("39.7392", "-104.9903")
    });
    </script>
<% end %>

<h1 align=center>Here are your search results:</h1>

<table class='search_results'>
  <tr>
    <th>Thumbnail</th>
    <th>Description</th>
  </tr>
  <% @gear_items.each do |gear_item| %>
  <tr class='result'>
    <td class="thumbnail"><%= image_tag gear_item.photo if gear_item.photo %></td>
    <td>
      <p class='name'><%=link_to "#{gear_item.name}", "/gear_items/#{gear_item.id}" %> </p>
      <p class='location'>Located In: <%= gear_item.location%></p>
      <p class='price'>Price Per Day: $<%= gear_item.price %></p>
    </td>
  </tr>
  <% end %>
</table>



<p>
  <div id="map"></div>
</p>
