<nav class="primary_nav">
  <section>
    <div>
      <%= link_to("Home", root_path) %>
    </div>
  </section>

  <section>
    <div>
      <%= link_to 'Find Gear', '/' %>
      <%= link_to 'Login', '/login' %>
      <%= link_to 'Register', '/register' %>
    </div>
  </section>
</nav>
