h1, h2, h3, h4, h5, h6 {
  color: #3c4040;
}


h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200%;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 125%;
}

body {
  background-image: url('https://wallpaperaccess.com/full/1146666.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.main_page {
  overflow: hidden;
  box-shadow: 0 0 10px #6d6e71;
  background-color: #FFFFFF;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 15px;
  margin-bottom: 100px;
  padding: 40px;
  height: auto;
  z-index: -1;
}

div.expandable {
  position: relative;
  animation: 1s ease-out 0s 1 slideInFromTop;
}

.flash {
  text-align: center;
}

.flash .message {
  padding: 10px;
  background-color: #60E170;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.thumbnail img {
  max-width: 200px;
  max-height: 200px
}

.result {
  height: 300px
}

.search_results {
  float: left;
  width: 33%;
}

.profile-picture {
  max-width: 40%;
  max-height: 40%;
}
