h1, h2, h3, h4, h5, h6 {
  color: #3c4040;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 200%;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 48px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-decoration: underline;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 125%;
}
