nav.primary_nav {
  background-color: #FFF;
  height: 60px;
  box-shadow: 0 0 10px #6d6e71;
}

.inner-nav {
  height: 100%;
}

.links {
  height: 100%;
}


.links a {
  float: right;
  font-weight: bold;
  color: #6d6e71;
  margin-right: 40px;
  margin-top: 15px;
}
