nav.primary_nav {
  background-color: #FFF;
  height: 90px;
  box-shadow: 0 0 10px #6d6e71;
  z-index: -1;
}

.inner-nav {
  height: 100%;
}

.links {
  height: 100%;
}


.links a {
  float: right;
  font-weight: bold;
  color: #6d6e71;
  margin-right: 40px;
  margin-top: 35px;
}


.logo {
  float: left;
  margin-left: 80px;
  margin-top: 0px;
  padding: 0px;
  height: 15px;
}
