#map {
    float: right;
    width: 50%;
    height: 400px;
    title: true;
}

.map_container {
  
}

form label {
  margin-bottom: 10px;
  margin-top: 10px;
}

form input {
  margin-bottom: 10px;
  margin-top: 10px;
}
